<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlink}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/about.png"
                  alt="anmol"
                  class="img-fluid"
                  title="Anmol Garg"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Something about me</p>
              <h1>
                My name is <span class="txt_clr">Anmol Garg</span>. I am a MERN Stack Developer.
              </h1>
              <a href="/"> <button>Go Back</button> </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer>
      <p>created by AG</p>
    </footer>
  </body>
</html>
